<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alex Gisby - Experienced Principal Web Developer & Tech Lead</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <script type="text/javascript" src="https://use.fontawesome.com/436008c856.js"></script>
        <style type="text/css">
            .extlinks-container {
                padding: 10px 0 1px 0;
            }

            .jumbo {
                font-size: 64px;
            }

            .skills-group {
                border-bottom: 1px solid #fff;
                overflow: hidden;
            }

            .skills-group h2 {
                font-size: 18px;
            }

            .skills-chips {
                padding-top: 5px;
                list-style-type: none;
            }

            .skills-chips li {
                display: inline-block;
            }
        </style>
    </head>
    <body class="blue-grey">
        <!-- React Entry Point -->
        <div id="application"></div>

        <footer class="page-footer blue-grey lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    &copy; 2017 Copyright Text
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="./js/bundle.js"></script>
    </body>
</html>
