<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alex Gisby - Experienced Principal Web Developer & Tech Lead</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <script type="text/javascript" src="https://use.fontawesome.com/436008c856.js"></script>
        <style type="text/css">
            .visuallyhidden {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            .extlinks-container {
                padding: 10px 0 1px 0;
            }

            .jumbo {
                font-size: 64px;
            }

            .skills-group {
                border-bottom: 1px solid #fff;
                overflow: hidden;
            }

            .skills-group h2 {
                font-size: 18px;
            }

            .skills-chips {
                padding-top: 5px;
                list-style-type: none;
            }

            .skills-chips li {
                display: inline-block;
            }
        </style>
    </head>
    <body class="blue-grey">
        <!-- React Entry Point -->
        <div id="application"></div>

        <script type="text/javascript" src="./js/bundle.js"></script>
    </body>
</html>
